<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1 style="text-align: center"><a href="https://github.com/techvins/django-url-shortner">Django URL Shortner</a></h1>

  
  <h3 style="text-align: center;margin-top: 90px;" id="timeholder">Redirecting in <span id="timer"></span> seconds </h3> 

  <h6 style="text-align: center;margin-top: 82px;">Powered By <a href="https://techvins.com">Techvins</a></h6>
</body>

<script>
  function startTimer(duration, display) {
    var timer = duration, minutes, seconds;
    setInterval(function () {
        minutes = parseInt(timer / 60, 10);
        seconds = parseInt(timer % 60, 10);


        seconds = seconds < 10 ?  + seconds : seconds;

        display.textContent = seconds;
    
        if (--timer < 0) {
            window.location.href='{{redirect_url}}'
        }
    }, 1000);
}


window.onload = function () {
    var fiveseconds = 5,
        display = document.querySelector('#timer');
    startTimer(fiveseconds, display);
};

</script>
</html>